rocktalk.xyz {
    root * /srv
    encode gzip

    try_files {path} index.html

    file_server
}

auth.rocktalk.xyz {
    reverse_proxy express:8000
}

api.rocktalk.xyz {
    reverse_proxy hasura:8080
}